<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog App</title>

  <!-- Semantic -->
  <link rel="stylesheet" href="/css/semantic/semantic.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header class="header">
    <div class="ui fixed inverted massive menu">
      <div class="ui container">
        <div class="header item">
            <i class="comments outline large icon"></i>
            Blog Site
        </div>
        <a href="/blogs" class="item">Home</a>
        <a href="/blogs/new" class="item">New Blog</a>
      </div>
    </div>
  </header>